<p id="notice"><%= notice %></p>

<h1>Administrativas</h1>

<table>
  <thead>
    <tr>
      <th>Ps administrativa</th>
      <th>Velocidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrativas.each do |administrativa| %>
      <tr>
        <td><%= administrativa.ps_administrativa %></td>
        <td><%= administrativa.velocidad %></td>
        <td><%= link_to 'Show', administrativa %></td>
        <td><%= link_to 'Edit', edit_administrativa_path(administrativa) %></td>
        <td><%= link_to 'Destroy', administrativa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administrativa', new_administrativa_path %>
