<p id="notice"><%= notice %></p>

<p>
  <strong>Ps administrativa:</strong>
  <%= @administrativa.ps_administrativa %>
</p>

<p>
  <strong>Velocidad:</strong>
  <%= @administrativa.velocidad %>
</p>

<%= link_to 'Edit', edit_administrativa_path(@administrativa) %> |
<%= link_to 'Back', administrativas_path %>
