<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @antenapunto.tipo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @antenapunto.nombre %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @antenapunto.ps %>
</p>

<p>
  <strong>Oc:</strong>
  <%= @antenapunto.oc %>
</p>

<%= link_to 'Edit', edit_antenapunto_path(@antenapunto) %> |
<%= link_to 'Back', antenapuntos_path %>
