<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @deco2.tipo %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @deco2.ps %>
</p>

<p>
  <strong>Oc:</strong>
  <%= @deco2.oc %>
</p>

<%= link_to 'Edit', edit_deco2_path(@deco2) %> |
<%= link_to 'Back', deco2s_path %>
