<p id="notice"><%= notice %></p>

<h1>Modopagos</h1>

<table>
  <thead>
    <tr>
      <th>Modo pago</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modopagos.each do |modopago| %>
      <tr>
        <td><%= modopago.modo_pago %></td>
        <td><%= modopago.descripcion %></td>
        <td><%= link_to 'Show', modopago %></td>
        <td><%= link_to 'Edit', edit_modopago_path(modopago) %></td>
        <td><%= link_to 'Destroy', modopago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modopago', new_modopago_path %>
