<p id="notice"><%= notice %></p>

<p>
  <strong>Pack:</strong>
  <%= @caracteristicatelefono.pack %>
</p>

<p>
  <strong>Tipo pago:</strong>
  <%= @caracteristicatelefono.tipo_pago %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @caracteristicatelefono.costo %>
</p>

<%= link_to 'Edit', edit_caracteristicatelefono_path(@caracteristicatelefono) %> |
<%= link_to 'Back', caracteristicatelefonos_path %>
