<p id="notice"><%= notice %></p>

<h1>Caracteristicadeco1s</h1>

<table>
  <thead>
    <tr>
      <th>Pack</th>
      <th>Tipo pago</th>
      <th>Costo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracteristicadeco1s.each do |caracteristicadeco1| %>
      <tr>
        <td><%= caracteristicadeco1.pack %></td>
        <td><%= caracteristicadeco1.tipo_pago %></td>
        <td><%= caracteristicadeco1.costo %></td>
        <td><%= link_to 'Show', caracteristicadeco1 %></td>
        <td><%= link_to 'Edit', edit_caracteristicadeco1_path(caracteristicadeco1) %></td>
        <td><%= link_to 'Destroy', caracteristicadeco1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caracteristicadeco1', new_caracteristicadeco1_path %>
