<p id="notice"><%= notice %></p>

<p>
  <strong>Pack:</strong>
  <%= @caracteristicadeco1.pack %>
</p>

<p>
  <strong>Tipo pago:</strong>
  <%= @caracteristicadeco1.tipo_pago %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @caracteristicadeco1.costo %>
</p>

<%= link_to 'Edit', edit_caracteristicadeco1_path(@caracteristicadeco1) %> |
<%= link_to 'Back', caracteristicadeco1s_path %>
