<p id="notice"><%= notice %></p>

<h1>Paquetes</h1>

<table>
  <thead>
    <tr>
      <th>Ps paquete</th>
      <th>Nombre paquete</th>
      <th>Tipo paquete</th>
      <th>Renta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paquetes.each do |paquete| %>
      <tr>
        <td><%= paquete.ps_paquete %></td>
        <td><%= paquete.nombre_paquete %></td>
        <td><%= paquete.tipo_paquete %></td>
        <td><%= paquete.renta %></td>
        <td><%= link_to 'Show', paquete %></td>
        <td><%= link_to 'Edit', edit_paquete_path(paquete) %></td>
        <td><%= link_to 'Destroy', paquete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paquete', new_paquete_path %>
