<p id="notice"><%= notice %></p>

<h1>Caracteristicadeco2s</h1>

<table>
  <thead>
    <tr>
      <th>Pack</th>
      <th>Tipo pago</th>
      <th>Costo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracteristicadeco2s.each do |caracteristicadeco2| %>
      <tr>
        <td><%= caracteristicadeco2.pack %></td>
        <td><%= caracteristicadeco2.tipo_pago %></td>
        <td><%= caracteristicadeco2.costo %></td>
        <td><%= link_to 'Show', caracteristicadeco2 %></td>
        <td><%= link_to 'Edit', edit_caracteristicadeco2_path(caracteristicadeco2) %></td>
        <td><%= link_to 'Destroy', caracteristicadeco2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caracteristicadeco2', new_caracteristicadeco2_path %>
