<p id="notice"><%= notice %></p>

<p>
  <strong>Pack:</strong>
  <%= @caracteristicadeco2.pack %>
</p>

<p>
  <strong>Tipo pago:</strong>
  <%= @caracteristicadeco2.tipo_pago %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @caracteristicadeco2.costo %>
</p>

<%= link_to 'Edit', edit_caracteristicadeco2_path(@caracteristicadeco2) %> |
<%= link_to 'Back', caracteristicadeco2s_path %>
