<p id="notice"><%= notice %></p>

<h1>Subtipos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre subtipo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subtipos.each do |subtipo| %>
      <tr>
        <td><%= subtipo.nombre_subtipo %></td>
        <td><%= subtipo.descripcion %></td>
        <td><%= link_to 'Show', subtipo %></td>
        <td><%= link_to 'Edit', edit_subtipo_path(subtipo) %></td>
        <td><%= link_to 'Destroy', subtipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subtipo', new_subtipo_path %>
