<%= form_for(campana) do |f| %>
  <% if campana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campana.errors.count, "error") %> prohibited this campana from being saved:</h2>

      <ul>
      <% campana.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_camapana %>
    <%= f.text_field :nombre_camapana %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
