<p id="notice"><%= notice %></p>

<h1>Campanas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre camapana</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campanas.each do |campana| %>
      <tr>
        <td><%= campana.nombre_camapana %></td>
        <td><%= campana.descripcion %></td>
        <td><%= link_to 'Show', campana %></td>
        <td><%= link_to 'Edit', edit_campana_path(campana) %></td>
        <td><%= link_to 'Destroy', campana, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campana', new_campana_path %>
