<p id="notice"><%= notice %></p>

<h1>Deco1s</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Ps</th>
      <th>Oc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deco1s.each do |deco1| %>
      <tr>
        <td><%= deco1.tipo %></td>
        <td><%= deco1.ps %></td>
        <td><%= deco1.oc %></td>
        <td><%= link_to 'Show', deco1 %></td>
        <td><%= link_to 'Edit', edit_deco1_path(deco1) %></td>
        <td><%= link_to 'Destroy', deco1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deco1', new_deco1_path %>
