<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @deco1.tipo %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @deco1.ps %>
</p>

<p>
  <strong>Oc:</strong>
  <%= @deco1.oc %>
</p>

<%= link_to 'Edit', edit_deco1_path(@deco1) %> |
<%= link_to 'Back', deco1s_path %>
