<%= form_for(tecno) do |f| %>
  <% if tecno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tecno.errors.count, "error") %> prohibited this tecno from being saved:</h2>

      <ul>
      <% tecno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_tecnologia %>
    <%= f.text_field :tipo_tecnologia %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
