<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre zona:</strong>
  <%= @zonal.nombre_zona %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @zonal.descripcion %>
</p>

<%= link_to 'Edit', edit_zonal_path(@zonal) %> |
<%= link_to 'Back', zonals_path %>
