<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @gestion.codigo %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @gestion.origen %>
</p>

<p>
  <strong>Campana:</strong>
  <%= @gestion.campana %>
</p>

<p>
  <strong>Zonal:</strong>
  <%= @gestion.zonal %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @gestion.tipo %>
</p>

<p>
  <strong>Subtipo:</strong>
  <%= @gestion.subtipo %>
</p>

<p>
  <strong>Paquete:</strong>
  <%= @gestion.paquete %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @gestion.linea %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @gestion.internet %>
</p>

<p>
  <strong>Administrativa:</strong>
  <%= @gestion.administrativa %>
</p>

<p>
  <strong>Tecno:</strong>
  <%= @gestion.tecno %>
</p>

<p>
  <strong>Modopago:</strong>
  <%= @gestion.modopago %>
</p>

<p>
  <strong>Monto instalacion:</strong>
  <%= @gestion.monto_instalacion %>
</p>

<p>
  <strong>Promocion:</strong>
  <%= @gestion.promocion %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @gestion.descuento %>
</p>

<p>
  <strong>Equipamiento:</strong>
  <%= @gestion.equipamiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @gestion.telefono %>
</p>

<p>
  <strong>Caracteristicastelefono:</strong>
  <%= @gestion.caracteristicastelefono %>
</p>

<p>
  <strong>Modem:</strong>
  <%= @gestion.modem %>
</p>

<p>
  <strong>Caracteristicamodem:</strong>
  <%= @gestion.caracteristicamodem %>
</p>

<p>
  <strong>Antenapunto:</strong>
  <%= @gestion.antenapunto %>
</p>

<p>
  <strong>Deco1:</strong>
  <%= @gestion.deco1 %>
</p>

<p>
  <strong>Caracteristicadeco1:</strong>
  <%= @gestion.caracteristicadeco1 %>
</p>

<p>
  <strong>Deco2:</strong>
  <%= @gestion.deco2 %>
</p>

<p>
  <strong>Caracteristicadeco2:</strong>
  <%= @gestion.caracteristicadeco2 %>
</p>

<%= link_to 'Edit', edit_gestion_path(@gestion) %> |
<%= link_to 'Back', gestions_path %>
